{% load static%}
<div
  style="
    width: 1330px;
  "
>
  <img
    style="
      width: 1330px;
      height: 412px;
    "
    src="https://via.placeholder.com/1330x412"
  />

  <div
    style="
      margin-top: 25px;
    "
  >
    <div
      style="
        border-radius: 7px;
        border: 1px #969497 solid;
        padding: 10px 20px;
      "
    >
      <div
        style="
          color: black;
          font-size: 18px;
          font-family: JetBrains Mono;
          font-weight: 400;
        "
      >
        Bloody happy spring day
      </div>

      <div style="display: flex; align-items: center; justify-content: space-between; margin: 20px 0;">
        <div 
          style="
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
          "
        >
          Công ty sản xuất sự kiện Cót Lê
        </div>

        <div
          style="
            display: flex;
            align-items: center;
            justify-content: flex-end;
          "
        >
          <div
            style="
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              font-weight: 700;
              margin-right: 15px;
            "
          >
            19h - 21h30 03/02/2025
          </div>
          <div 
            style="
              width: 30px; 
              height: 30px; 
              position: relative;
              background-color: black;
            "
          ></div>
        </div>
      </div>

      <div style="display: flex; align-items: center; justify-content: space-between;">
        <div 
          style="
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
          "
        >
          28 Nguyễn Huệ, Quận 3, TP. HCM
        </div>

        <div
          style="
            display: flex;
            align-items: center;
          "
        >
          <div
            style="
              margin-right: 15px;
            "
          >
            <div
              style="
                color: black;
                font-size: 13px;
                font-family: JetBrains Mono;
                font-weight: 700;
                text-align: right;
              "
            >
              Nhà hát Độc lập Tự do
            </div>
            <div
              style="
                color: black;
                font-size: 13px;
                font-family: JetBrains Mono;
                font-weight: 400;
                word-wrap: break-word;
                text-align: right;
              "
            >
              25 Quang Trung, Phường Thống Nhất, Quận Hà Nội, TP HCM
            </div>
          </div>

          <div style="width: 30px; height: 30px; position: relative; background-color: black;"></div>
        </div>
      </div>
    </div>

    <div
      style="
        border-radius: 7px;
        border: 1px #969497 solid;
        margin-top: 30px;
        padding: 15px 20px;
      "
    >
      <div
        style="
          color: black;
          font-size: 16px;
          font-family: JetBrains Mono;
          font-weight: 400;
        "
      >
        Danh sách vé
      </div>

      <div
        style="
          margin-top: 40px;
        "
      >
        <div
          style="
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid black;
            padding-bottom: 15px;
          "
        >
          <div
            style="
              text-align: start;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              font-weight: 400;
              width: 200px;
            "
          >
            Vé
          </div>
    
          <div
            style="
              text-align: center;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              width: 200px;
              font-weight: 400;
            "
          >
            Đơn giá
          </div>

          <div
            style="
              text-align: center;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              width: 200px;
              font-weight: 400;
            "
          >
            Số lượng
          </div>

          <div
            style="
              text-align: end;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              width: 200px;
              font-weight: 400;
            "
          >
            Thành tiền
          </div>
        </div>

        <div
          style="
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid black;
            padding-bottom: 15px;
            margin-top: 15px;
          "
        >
          <div
            style="
              text-align: start;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              font-weight: 400;
              width: 200px;
            "
          >
            SVIP-1
          </div>
    
          <div
            style="
              text-align: center;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              width: 200px;
              font-weight: 400;
            "
          >
            250000 VND
          </div>

          <div
            style="
              text-align: center;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              width: 200px;
              font-weight: 400;
              display: flex;
              align-items: center;
              justify-content: center;
              column-gap: 10px;
            "
          >
            <span 
              style="
                font-size: 16px;
                display: block;
                background-color: #ccc;
                width: 25px;
                font-weight: bold;
                "
            >+</span>
            <span>2</span>
            <span 
              style="
                font-size: 16px;
                display: block;
                background-color: #ccc;
                width: 25px;
                font-weight: bold;
                "
            >-</span>
          </div>

          <div
            style="
              text-align: end;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              width: 200px;
              font-weight: 400;
            "
          >
            500000 VND
          </div>
        </div>

        <div
          style="
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid black;
            padding-bottom: 15px;
            margin-top: 15px;
          "
        >
          <div
            style="
              text-align: start;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              font-weight: 400;
              width: 200px;
            "
          >
            SVIP-1
          </div>
    
          <div
            style="
              text-align: center;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              width: 200px;
              font-weight: 400;
            "
          >
            250000 VND
          </div>

          <div
            style="
              text-align: center;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              width: 200px;
              font-weight: 400;
              display: flex;
              align-items: center;
              justify-content: center;
              column-gap: 10px;
            "
          >
            <span 
              style="
                font-size: 16px;
                display: block;
                background-color: #ccc;
                width: 25px;
                font-weight: bold;
                "
            >+</span>
            <span>2</span>
            <span 
              style="
                font-size: 16px;
                display: block;
                background-color: #ccc;
                width: 25px;
                font-weight: bold;
                "
            >-</span>
          </div>

          <div
            style="
              text-align: end;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              width: 200px;
              font-weight: 400;
            "
          >
            500000 VND
          </div>
        </div>

        <div 
          style="
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
          "
        >
          <div
            style="
              text-align: center;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              font-weight: 400;
              margin-right: 15px;
            "
          >
            Tổng
          </div>

          <div
            style="
              text-align: end;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              font-weight: 700;
              width: 200px;
            "
          >
            1000000 VNĐ
          </div>
        </div>

        <div 
          style="
            font-size: 16px; 
            font-weight: 500; 
            background-color: black;
            color: white;
            padding: 10px 30px;
            width: 100px;
            text-align: center;
            margin-top: 20px; 
            margin-left: auto;
            border-radius: 10px;
          "
        >
          Đặt vé
        </div>
      </div>
    </div>

    <div
      style="
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
      "
    >
      <div
        style="
          width: 840px;
          border-radius: 7px;
          border: 1px #969497 solid;
          padding: 15px 20px;
        "
      >
        <div
          style="
            color: black;
            font-size: 15px;
            font-family: JetBrains Mono;
            font-weight: 400;
            margin-bottom: 20px;
          "
        >
          Chi tiết
        </div>
        <div
          style="
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
            margin-bottom: 20px;
          "
        >
          Trong trường hợp nhóm này bị điều tra bởi các cơ quan trực thuộc bộ công
          an (hoặc các tổ chức chính trị tương tự phục vụ cho nhà nước CHXHCNVN),
          tôi khẳng định mình không liên quan tới nhóm hoặc những cá nhân khác
          trong nhóm này. Tôi không rõ tại sao mình lại có mặt ở đây vào thời điểm
          này, có lẽ tài khoản của tôi đã được thêm bởi một bên thứ ba. Tôi cũng
          xin khẳng định rằng mình không hề giúp sức cho những hành động chống phá
          Đảng và nhà nước của các thành viên trong nhóm này
        </div>
        <img
          style="
            width: 800px;
            height: 444px;
            display: block;
            margin: 0 auto;
          "
          src="https://via.placeholder.com/800x444"
        />
      </div>

      <div
        style="
          width: 260px;
          height: fit-content;
          border-radius: 7px;
          border: 1px #969497 solid;
          padding: 15px 20px;
        "
      >
        <img
          style="
            width: 167px;
            height: 219px;
            display: block;
            margin: 0 auto;
          "
          src="https://via.placeholder.com/167x219"
        />
        
        <div
          style="
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
            margin: 15px 0;
          "
        >
          Công ty sản xuất sự kiện Cót Lê
        </div>
        <div
          style="
            color: black;
            font-size: 11px;
            font-family: JetBrains Mono;
            font-weight: 400;
          "
        >Người theo hương hoa mây mù giăng lối Làn sương khói phôi phai
          đưa bước ai xa rồi Đơn côi mình ta vấn vương Hồi ức trong men say
          chiều mưa buồn (Gì nào?) Ngăn giọt lệ ngừng khiến khoé mi sầu bi Đường
          xưa nơi cố nhân từ giã biệt li Cánh hoa rụng rơi Phận duyên mong manh
          rẽ lối trong mơ ngày tương phùng <br />Tiếng khóc cuốn theo làn gió
          bay Thuyền ai qua sông lỡ quên vớt ánh trăng tàn nơi này Trống vắng
          bóng ai dần hao gầy<br />Lòng ta xin nguyện khắc ghi trong tim tình
          nồng mê say
        </div>
      </div>
    </div>
  </div>
</div>
