{% load static %}
<div style="width: 1330px">
  <img
    style="width: 1330px; height: 412px"
    src="{% static event.picture_panel.url %}"
  />

  <div style="margin-top: 25px">
    <div
      style="border-radius: 7px; border: 1px #b9acc0 solid; padding: 10px 20px"
    >
      <div
        style="
          color: black;
          font-size: 18px;
          font-family: JetBrains Mono;
          font-weight: 400;
        "
      >
        {{event.name}}
      </div>

      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 20px 0;
        "
      >
        <div
          style="
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
          "
        >
          {{ event.organizer.name }}
        </div>

        <div
          style="display: flex; align-items: center; justify-content: flex-end"
        >
          <div
            style="
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              font-weight: 700;
              margin-right: 15px;
            "
          >
            {{event.date|date:"d/m/Y:h/m"}}
          </div>
          <div
            style="
              width: 30px;
              height: 30px;
              position: relative;
              background-color: black;
            "
          ></div>
        </div>
      </div>

      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <div
          style="
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
          "
        >
          {{ event.organizer.head_office_address }}
        </div>

        <div style="display: flex; align-items: center">
          <div style="margin-right: 15px">
            <div
              style="
                color: black;
                font-size: 13px;
                font-family: JetBrains Mono;
                font-weight: 700;
                text-align: right;
              "
            >
              {{ event.location_name }}
            </div>
            <div
              style="
                color: black;
                font-size: 13px;
                font-family: JetBrains Mono;
                font-weight: 400;
                word-wrap: break-word;
                text-align: right;
              "
            >
              {{ event.location_address }}
            </div>
          </div>

          <div
            style="
              width: 30px;
              height: 30px;
              position: relative;
              background-color: black;
            "
          ></div>
        </div>
      </div>
    </div>

    <div
      style="
        border-radius: 7px;
        border: 1px #969497 solid;
        margin-top: 30px;
        padding: 15px 20px;
      "
    >
      <div
        style="
          color: black;
          font-size: 16px;
          font-family: JetBrains Mono;
          font-weight: 400;
        "
      >
        Danh sách vé
      </div>

      <div style="margin-top: 40px">
        <div
          style="
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid black;
            padding-bottom: 15px;
          "
        >
          <div
            style="
              text-align: start;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              font-weight: 400;
              width: 200px;
            "
          >
            Vé
          </div>

          <div
            style="
              text-align: center;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              width: 200px;
              font-weight: 400;
            "
          >
            Đơn giá
          </div>

          <div
            style="
              text-align: center;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              width: 200px;
              font-weight: 400;
            "
          >
            Hiện còn
          </div>
          <div
            onclick='location.href="payment/{{event.id}}";'
            style="
              text-align: center;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              width: 200px;
              font-weight: 400;
            "
          >
            Đặt vé
          </div>
          <div
            style="
              text-align: end;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              width: 200px;
              font-weight: 400;
            "
          >
            Thành tiền
          </div>
        </div>
        {% for item in ticket_types %}
        <div
          style="
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid black;
            padding-bottom: 15px;
            margin-top: 15px;
          "
        >
          <div
            style="
              text-align: start;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              font-weight: 400;
              width: 200px;
            "
          >
            {{ item.type }}
          </div>

          <div
            style="
              text-align: center;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              width: 200px;
              font-weight: 400;
            "
          >
            {{ item.price }} VND
          </div>
          <div
            style="
              text-align: start;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              font-weight: 400;
              width: 200px;
            "
          >
            {{ item.quantity }}
          </div>
          <div
            style="
              text-align: center;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              width: 200px;
              font-weight: 400;
              display: flex;
              align-items: center;
              justify-content: center;
              column-gap: 10px;
            "
          >
            <span
              style="
                font-size: 16px;
                display: block;
                background-color: #ccc;
                width: 25px;
                font-weight: bold;
              "
              >+</span
            >
            <span>2</span>
            <span
              style="
                font-size: 16px;
                display: block;
                background-color: #ccc;
                width: 25px;
                font-weight: bold;
              "
              >-</span
            >
          </div>

          <div
            style="
              text-align: end;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              width: 200px;
              font-weight: 400;
            "
          >
            500000 VND
          </div>
        </div>
        {% endfor %}
        <div style="margin-top: 20px; display: flex; justify-content: flex-end">
          <div
            style="
              text-align: center;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              font-weight: 400;
              margin-right: 15px;
            "
          >
            Tổng
          </div>

          <div
            style="
              text-align: end;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              font-weight: 700;
              width: 200px;
            "
          >
            1000000 VNĐ
          </div>
        </div>

        <div
          style="
            font-size: 16px;
            font-weight: 500;
            background-color: black;
            color: white;
            padding: 10px 30px;
            width: 100px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            border-radius: 10px;
          "
        >
          Đặt vé
        </div>
      </div>
    </div>

    <div
      style="display: flex; justify-content: space-between; margin-top: 30px"
    >
      <div
        style="
          width: 840px;
          border-radius: 7px;
          border: 1px #969497 solid;
          padding: 15px 20px;
        "
      >
        <div
          style="
            color: black;
            font-size: 15px;
            font-family: JetBrains Mono;
            font-weight: 400;
            margin-bottom: 20px;
          "
        >
          Chi tiết
        </div>
        <div
          style="
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
            margin-bottom: 20px;
          "
        >
          {{event.detail}}
        </div>
        <img
          style="width: 800px; height: 444px; display: block; margin: 0 auto"
          src="{% static event.picture_master.url %}"
        />
      </div>

      <div
        style="
          width: 260px;
          height: fit-content;
          border-radius: 7px;
          border: 1px #969497 solid;
          padding: 15px 20px;
        "
      >
        <img
          style="width: 167px; height: 219px; display: block; margin: 0 auto"
          src="{% static event.organizer.logo %}"
        />

        <div
          style="
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
            margin: 15px 0;
          "
        >
          {{ event.organizer.name }}
        </div>
        <div
          style="
            color: black;
            font-size: 11px;
            font-family: JetBrains Mono;
            font-weight: 400;
          "
        >
          {{ event.organizer.detail }}
        </div>
      </div>
    </div>
  </div>
</div>
