<div
  style="
    width: 230px;
    height: 300px;
    position: relative;
    background: white;
    border-radius: 7px;
    overflow: hidden;
  "
>
  <img
    style="width: 230px; height: 300px; left: 0px; top: 0px; position: absolute"
    src="https://via.placeholder.com/230x300"
  />
  <div
    style="
      width: 230px;
      height: 88px;
      left: 0px;
      top: 212px;
      position: absolute;
      background: rgba(255, 255, 255, 0.93);
      border-radius: 7px;
      overflow: hidden;
    "
  >
    <div
      style="
        width: 217px;
        height: 77px;
        left: 7px;
        top: 5px;
        position: absolute;
      "
    >
      <div
        style="
          width: 217px;
          height: 33px;
          left: 0px;
          top: 0px;
          position: absolute;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Bloody happy spring day
      </div>
      <div
        style="
          width: 75px;
          height: 14px;
          left: 80px;
          top: 39px;
          position: absolute;
          background: #c6c3c5;
          border-radius: 7px;
          overflow: hidden;
        "
      >
        <div
          style="
            width: 68.41px;
            height: 14px;
            left: 6.59px;
            top: 0px;
            position: absolute;
            color: black;
            font-size: 8px;
            font-family: JetBrains Mono;
            font-weight: 400;
            word-wrap: break-word;
          "
        >
          @cosplay
        </div>
      </div>
      <div
        style="
          width: 75px;
          height: 14px;
          left: 0px;
          top: 39px;
          position: absolute;
          background: #c6c3c5;
          border-radius: 7px;
          overflow: hidden;
        "
      >
        <div
          style="
            width: 68.41px;
            height: 14px;
            left: 6.59px;
            top: 0px;
            position: absolute;
            color: black;
            font-size: 8px;
            font-family: JetBrains Mono;
            font-weight: 400;
            word-wrap: break-word;
          "
        >
          @cosplay
        </div>
      </div>
      <div
        style="
          width: 75px;
          height: 14px;
          left: 142px;
          top: 39px;
          position: absolute;
          text-align: right;
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        [Hà Nội]
      </div>
      <div
        style="
          width: 100px;
          height: 24px;
          left: 117px;
          top: 53px;
          position: absolute;
          text-align: right;
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        250000 VNĐ
      </div>
      <div
        style="
          width: 94px;
          height: 24px;
          left: 0px;
          top: 53px;
          position: absolute;
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        25/12/2024
      </div>
    </div>
  </div>
</div>
