{% load static %}
<div
  style="
    width: 250px;
    border-radius: 7px;
    border: 1px #969497 solid;
    padding: 20px 15px;
  "
>
  <div
    style="
      color: black;
      font-size: 15px;
      font-family: JetBrains Mono;
      font-weight: 400;
      text-align: center;
    "
  >
    Bộ lọc
  </div>

  <div style="
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
  ">
    <div
      style="
        color: black;
        font-size: 13px;
        font-family: JetBrains Mono;
        font-weight: 400;
      "
    >
      Ngày
    </div>
    <div
    style="
      width: 150px;
      height: 30px;
      background: #d9d9d9;
      border-radius: 7px;
      border: 1px #969497 solid;
    "
    ></div>
  </div>

  <div style="
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
  ">
    <div
      style="
        color: black;
        font-size: 13px;
        font-family: JetBrains Mono;
        font-weight: 400;
      "
    >
      Giá cả từ cao xuống
    </div>
    <div
      style="
        width: 20px;
        height: 20px;
      "
    ><img src="{% static "images/check-box.svg" %}"/></div>
  </div>

  <div style="
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
  ">
    <div
      style="
        font-size: 13px;
        font-family: JetBrains Mono;
        font-weight: 400;
      "
    >
      Địa điểm
      
    </div>

    <div
      style="
        width: 100px;
        border-radius: 7px;
        border: 1px #969497 solid;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
        padding: 10px 10px;
      "
    >
      <div
        style="
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 400;
        "
      >
        TP HCM
      </div>
      <div
        style="
          width: 15px;
          height: 15px;
          transform-origin: 0 0;
        " 
      ><img/ src="{% static "images/Vector.svg" %}"></div>
    </div>
  </div>

  <div style="
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
  ">
    <div
      style="
        color: black;
        font-size: 13px;
        font-family: JetBrains Mono;
        font-weight: 400;
      "
    >
      Tag
    </div>

    <div style="
      margin-left: auto;
      display: flex;
      gap: 5px;
      max-width: 200px;
      flex-wrap: wrap;
    ">
      <div
        style="
          padding: 3px 15px;
          background: #c6c3c5;
          border-radius: 99px;
          color: black;
          font-size: 10px;
          font-family: JetBrains Mono;
          font-weight: 400;
        "
      >
        @cosplay
      </div>
      <div
        style="
          padding: 3px 15px;
          background: #c6c3c5;
          border-radius: 99px;
          color: black;
          font-size: 10px;
          font-family: JetBrains Mono;
          font-weight: 400;
        "
      >
        @rap
      </div>
      <div
        style="
          padding: 3px 15px;
          background: #c6c3c5;
          border-radius: 99px;
          color: black;
          font-size: 10px;
          font-family: JetBrains Mono;
          font-weight: 400;
        "
      >
        @music
      </div>
      <div
        style="
          padding: 3px 15px;
          background: #c6c3c5;
          border-radius: 99px;
          color: black;
          font-size: 10px;
          font-family: JetBrains Mono;
          font-weight: 400;
        "
      >
        @music
      </div>
    </div>
  </div>
</div>
