{% load static %}
<div
 style="
    width: 230px;
    position: relative;
    background: white;
    border-radius: 7px;
 "
>
 <img
    style="width: 230px; height: 300px; display: block;"
    src="static{{ event.picture_master.url }}"
 />
 <div
    style="
      width: calc(100% - 20px);
      position: absolute;
      bottom: 0;
      background: rgba(255, 255, 255, 0.93);
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      padding: 10px;
    "
 >
    <div
      style="
        color: black;
        font-size: 13px;
        font-family: JetBrains Mono;
        font-weight: 400;
      "
    >
      {{ event.name }}
    </div>

    <div style="margin-top: 10px; display: flex; align-items: flex-start; justify-content: space-between;">
      <div style="display: flex; gap: 5px; flex-wrap: wrap; max-width: 145px;">
        {% for tag in event.tags.all %}
        <div
          style="
            padding: 3px 15px;
            background: #c6c3c5;
            border-radius: 99px;
            color: black;
            font-size: 10px;
            font-family: JetBrains Mono;
            font-weight: 400;
          "
        >
          @{{ tag.name }}
        </div>
        {% endfor %}
      </div>

      <div
        style="
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
        "
      >
        [{{ event.location|truncatewords:6 }}]
      </div>
    </div>
    
    <div style="display: flex; align-items: center; justify-content: space-between; margin-top: 10px;">
      <div
        style="
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
        "
      >
        {{ event.date|date:"d/m/Y" }}
      </div>

      <div
        style="
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
        "
      >
        {{ event.lowest_ticket_price }} VNĐ
      </div>
    </div>
 </div>
</div>