{% load static %}
<div
  style="
    width: 300px;
    position: relative;
    background: #d9d9d9;
    border-radius: 7px;
    overflow: hidden;
    border: 1px #d9d9d9 solid;
    padding: 10px 20px;
  "
>
  <div
    style="
      text-align: center;
      color: black;
      font-size: 15px;
      font-family: JetBrains Mono;
      font-weight: 400;
      margin-bottom: 20px;
    "
  >
    Đã diễn ra - Vé
  </div>

  <div
    style="
      background: white;
      border-radius: 7px;
      overflow: hidden;
      border: 1px black solid;
      padding: 3px 6px;
    "
  >
    <div style="align-items: center; display: flex">
      <div
        style="width: 24px; height: 24px; background: rgba(0, 0, 0, 0.75)"
      ></div>
      <div
        style="
          width: 210px;
          height: 30px;
          color: rgba(0, 0, 0, 0.5);
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          line-height: 30px;
          margin-left: 10px;
        "
      >
        Find
      </div>
    </div>
  </div>

  <div
    style="
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      height: 300px;
      overflow: hidden;
      padding-right: 5px;
      overflow-y: auto;
    "
  >
    {% for ticket in ticket_past%}
    
    <div
      style="
        background: white;
        border-radius: 7px;
        border: 1px #969497 solid;
        padding: 10px 6px;
      "
    >
      <div
        style="
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 700;
        "
      >
        {{ ticket.ticket_type.event.name }}
      </div>

      <div
        style="display: flex; justify-content: space-between; margin-top: 10px"
      >
        <div
          style="
            color: black;
            font-size: 11px;
            font-family: JetBrains Mono;
            font-weight: 400;
          "
        >
          {{ ticket.ticket_type.price }} VNĐ
        </div>

        <div
          style="
            color: black;
            font-size: 11px;
            font-family: JetBrains Mono;
            font-weight: 400;
          "
        >
          {{ ticket.ticket_type.event.date }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
