{% load static %}
<div
  style="
    width: 900px;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    border: 1px #d9d9d9 solid;
    padding: 15px 20px;
  "
>
  <div style="border-radius: 7px; overflow: hidden">
    <img
      style="width: 900px; height: 412px; object-fit: cover"
      src="{% static ticket_view.ticket_type.event.picture_panel.url %}"
    />
  </div>

  <div
    style="
      border-radius: 7px;
      border: 1px #969497 solid;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      margin-top: 20px;
    "
  >
    <div
      style="
        flex-direction: column;
        align-items: flex-start;
        row-gap: 5px;
        display: inline-flex;
      "
    >
      <div
        style="
          color: black;
          font-size: 18px;
          font-family: JetBrains Mono;
          font-weight: 400;
        "
      >
        {{ ticket_view.ticket_type.event.name }}
      </div>

      <div
        style="
          justify-content: center;
          align-items: center;
          display: inline-flex;
        "
      >
        <div style="width: 30px; height: 30px; background-color: black"></div>
        <div
          style="
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 700;
            margin-left: 10px;
          "
        >
          {{ ticket_view.ticket_type.event.date| date:"h/m:d/m/Y" }}
        </div>
      </div>

      <div
        style="
          justify-content: center;
          align-items: center;
          display: inline-flex;
        "
      >
        <div style="width: 30px; height: 30px; background-color: black"></div>

        <div style="margin-left: 10px">
          <div
            style="
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              font-weight: 700;
            "
          >
            {{ ticket_view.ticket_type.event.location_name }}
          </div>
          <div
            style="
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              font-weight: 400;
            "
          >
            {{ ticket_view.ticket_type.event.location_address }}
          </div>
        </div>
      </div>
    </div>

    <div
      style="
        background: #3d3b3c;
        border-radius: 10px;
        color: white;
        font-size: 15px;
        font-family: JetBrains Mono;
        font-weight: 400;
        width: 100px;
        text-align: center;
        padding: 10px 20px;
      "
    >
      Gửi lại vé
    </div>
  </div>

  <div
    style="
      border-radius: 7px;
      border: 1px #969497 solid;
      margin-top: 40px;
      padding: 15px 20px;
    "
  >
    <div
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div
        style="
          color: black;
          font-size: 16px;
          font-family: JetBrains Mono;
          font-weight: 400;
        "
      >
        Thông tin đơn hàng
      </div>
      <div
        style="
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 700;
        "
      >
        {{ ticket_view.ticket_type.event.name }}
      </div>
    </div>

    <div style="margin-top: 40px">
      <div
        style="
          display: flex;
          justify-content: space-between;
          border-bottom: 2px solid black;
          padding-bottom: 15px;
        "
      >
        <div
          style="
            text-align: start;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
            width: 200px;
          "
        >
          Vị trí
        </div>

        <div
          style="
            text-align: center;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          Hạng
        </div>

        <div
          style="
            text-align: end;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          Thành tiền
        </div>
      </div>
      {% for ticket in ticket_list %}
      <div
        style="
          display: flex;
          justify-content: space-between;
          border-bottom: 2px solid black;
          padding-bottom: 15px;
          margin-top: 15px;
        "
      >
        <div
          style="
            text-align: start;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
            width: 200px;
          "
        >
          {{ ticket.seat }}
        </div>

        <div
          style="
            text-align: center;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          {{ ticket.ticket_type.type }}
        </div>
        <div
          style="
            text-align: end;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
        {{ ticket.ticket_type.price }} VND
        </div>
      </div>
      {% endfor %}

      <div style="margin-top: 20px; display: flex; justify-content: flex-end">
        <div
          style="
            text-align: center;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
            width: 200px;
            margin-right: 15px;
          "
        >
          Tổng
        </div>

        <div
          style="
            text-align: end;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 700;
            width: 200px;
          "
        >
          {{ total }} VNĐ
        </div>
      </div>
    </div>
  </div>

  <div
    style="
      border-radius: 7px;
      overflow: hidden;
      border: 1px #969497 solid;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      margin-top: 30px;
    "
  >
    <img
      style="width: 167px; height: 219px; display: block; margin-right: 40px"
      src="{% static ticket_view.ticket_type.event.organizer.logo.url %}"
    />

    <div style="width: 496px">
      <span
        style="
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 400;
          display: block;
        "
        >{{ ticket_view.ticket_type.event.organizer.name }}</span
      >

      <span
        style="
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          display: block;
          margin-top: 10px;
        "
        >{{ ticket_view.ticket_type.event.organizer.detail }}
      </span>
    </div>
  </div>
</div>
