<div
  style="
    width: 900px;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    border: 1px #d9d9d9 solid;
    padding: 15px 20px;
  "
>
  <div
    style="
      border-radius: 7px;
      overflow: hidden;
    "
  >
    <img
      style="
        width: 900px;
        height: 412px;
        object-fit: cover;
      "
      src="https://via.placeholder.com/1330x412"
    />
  </div>

  <div
    style="
      border-radius: 7px;
      border: 1px #969497 solid;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      margin-top: 20px;
    "
  >
    <div
      style="
        flex-direction: column;
        align-items: flex-start;
        row-gap: 5px;
        display: inline-flex;
      "
    >
      <div
        style="
          color: black;
          font-size: 18px;
          font-family: JetBrains Mono;
          font-weight: 400;
        "
      >
        Bloody happy spring day
      </div>

      <div
        style="
          justify-content: center;
          align-items: center;
          display: inline-flex;
        "
      >
        <div style="
          width: 30px;
          height: 30px;
          background-color: black;
        "
        ></div>
        <div
          style="
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 700;
            margin-left: 10px;
          "
        >
          19h - 21h30 03/02/2025
        </div>
      </div>

      <div
        style="
          justify-content: center;
          align-items: center;
          display: inline-flex;
        "
      >
        <div 
          style="
            width: 30px;
            height: 30px;
            background-color: black;
          "
        ></div>

        <div
          style="
            margin-left: 10px;
          "
        >
          <div
            style="
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              font-weight: 700;
            "
          >
            Nhà hát Độc lập Tự do
          </div>
          <div
            style="
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              font-weight: 400;
            "
          >
            25 Quang Trung, Phường Thống Nhất, Quận Hà Nội, TP HCM
          </div>
        </div>
      </div>
    </div>

    <div
      style="
        background: #3d3b3c;
        border-radius: 10px;
        color: white;
        font-size: 15px;
        font-family: JetBrains Mono;
        font-weight: 400;
        width: 100px;
        text-align: center;
        padding: 10px 20px;
      "
    >
      Gửi lại vé
    </div>
  </div>

  <div
    style="
      border-radius: 7px;
      border: 1px #969497 solid;
      margin-top: 40px;
      padding: 15px 20px;
    "
  >
    <div 
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
      "
    >
      <div
        style="
          color: black;
          font-size: 16px;
          font-family: JetBrains Mono;
          font-weight: 400;
        "
      >
        Thông tin đơn hàng
      </div>
      <div
        style="
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 700;
        "
      >
        Bloody happy spring day
      </div>
    </div>

    <div
      style="
        margin-top: 40px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          border-bottom: 2px solid black;
          padding-bottom: 15px;
        "
      >
        <div
          style="
            text-align: start;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
            width: 200px;
          "
        >
          Vé
        </div>
  
        <div
          style="
            text-align: center;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          Đơn giá
        </div>

        <div
          style="
            text-align: center;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          Số lượng
        </div>

        <div
          style="
            text-align: end;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          Thành tiền
        </div>
      </div>

      <div
        style="
          display: flex;
          justify-content: space-between;
          border-bottom: 2px solid black;
          padding-bottom: 15px;
          margin-top: 15px;
        "
      >
        <div
          style="
            text-align: start;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
            width: 200px;
          "
        >
          SVIP-1
        </div>
  
        <div
          style="
            text-align: center;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          250000 VND
        </div>

        <div
          style="
            text-align: center;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          2
        </div>

        <div
          style="
            text-align: end;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          500000 VND
        </div>
      </div>

      <div
        style="
          display: flex;
          justify-content: space-between;
          border-bottom: 2px solid black;
          padding-bottom: 15px;
          margin-top: 15px;
        "
      >
        <div
          style="
            text-align: start;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
            width: 200px;
          "
        >
          SVIP-1
        </div>
  
        <div
          style="
            text-align: center;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          250000 VND
        </div>

        <div
          style="
            text-align: center;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          2
        </div>

        <div
          style="
            text-align: end;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          500000 VND
        </div>
      </div>

      <div 
        style="
          margin-top: 20px;
          display: flex;
          justify-content: flex-end;
        "
      >
        <div
          style="
            text-align: center;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
            width: 200px;
            margin-right: 15px;
          "
        >
          Tổng
        </div>

        <div
          style="
            text-align: end;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 700;
            width: 200px;
          "
        >
          1000000 VNĐ
        </div>
      </div>
    </div>
  </div>

  <div
    style="
      width: 700px;
      border-radius: 7px;
      overflow: hidden;
      border: 1px #969497 solid;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      margin-top: 30px;
    "
  >
    <img
      style="
        width: 167px;
        height: 219px;
        display: block;
        margin-right: 40px;
      "
      src="https://via.placeholder.com/167x219"
    />

    <div
      style="
        width: 496px;
      "
    >
      <span
        style="
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 400;
          display: block;
        "
        >Công ty sản xuất sự kiện Cót Lê</span>
        
        <span
          style="
            color: black;
            font-size: 11px;
            font-family: JetBrains Mono;
            font-weight: 400;
            display: block;
            margin-top: 10px;
          "
        >Người theo hương hoa mây mù giăng lối Làn sương khói phôi phai
        đưa bước ai xa rồi Đơn côi mình ta vấn vương Hồi ức trong men say chiều
        mưa buồn </span>
    </div>
  </div>
</div>
