<div
  style="
    width: 304px;
    height: 390px;
    position: relative;
    background: #d9d9d9;
    border-radius: 7px;
    overflow: hidden;
    border: 1px #d9d9d9 solid;
  "
>
  <div
    style="
      width: 145px;
      height: 37px;
      left: 80px;
      top: 0px;
      position: absolute;
      text-align: center;
      color: black;
      font-size: 15px;
      font-family: JetBrains Mono;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    Sắp diễn ra
  </div>
  <div
    style="
      width: 263px;
      height: 270px;
      left: 21px;
      top: 105px;
      position: absolute;
    "
  >
    <div
      style="
        width: 263px;
        height: 52px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
        border-radius: 7px;
        overflow: hidden;
        border: 1px #969497 solid;
      "
    >
      <div
        style="
          width: 191px;
          height: 30px;
          left: 10px;
          top: -0px;
          position: absolute;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        Bloody happy spring...
      </div>
      <div
        style="
          width: 168px;
          height: 36px;
          left: 10px;
          top: 9px;
          position: absolute;
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        255000 VNĐ
      </div>
      <div
        style="
          width: 110px;
          height: 14px;
          left: 146px;
          top: 31px;
          position: absolute;
          text-align: right;
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        10/05/2026
      </div>
    </div>
    <div
      style="
        width: 263px;
        height: 52px;
        left: 0px;
        top: 60px;
        position: absolute;
        background: white;
        border-radius: 7px;
        overflow: hidden;
        border: 1px #969497 solid;
      "
    >
      <div
        style="
          width: 191px;
          height: 30px;
          left: 10px;
          top: -0px;
          position: absolute;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        Bloody happy spring...
      </div>
      <div
        style="
          width: 168px;
          height: 36px;
          left: 10px;
          top: 9px;
          position: absolute;
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        255000 VNĐ
      </div>
      <div
        style="
          width: 110px;
          height: 14px;
          left: 146px;
          top: 31px;
          position: absolute;
          text-align: right;
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        10/05/2026
      </div>
    </div>
    <div
      style="
        width: 263px;
        height: 52px;
        left: 0px;
        top: 120px;
        position: absolute;
        background: white;
        border-radius: 7px;
        overflow: hidden;
        border: 1px #969497 solid;
      "
    >
      <div
        style="
          width: 191px;
          height: 30px;
          left: 10px;
          top: -0px;
          position: absolute;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        Bloody happy spring...
      </div>
      <div
        style="
          width: 168px;
          height: 36px;
          left: 10px;
          top: 9px;
          position: absolute;
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        255000 VNĐ
      </div>
      <div
        style="
          width: 110px;
          height: 14px;
          left: 146px;
          top: 31px;
          position: absolute;
          text-align: right;
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        10/05/2026
      </div>
    </div>
    <div
      style="
        width: 263px;
        height: 52px;
        left: 0px;
        top: 180px;
        position: absolute;
        background: white;
        border-radius: 7px;
        overflow: hidden;
        border: 1px #969497 solid;
      "
    >
      <div
        style="
          width: 191px;
          height: 30px;
          left: 10px;
          top: -0px;
          position: absolute;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        Bloody happy spring...
      </div>
      <div
        style="
          width: 168px;
          height: 36px;
          left: 10px;
          top: 9px;
          position: absolute;
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        255000 VNĐ
      </div>
      <div
        style="
          width: 110px;
          height: 14px;
          left: 146px;
          top: 31px;
          position: absolute;
          text-align: right;
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        10/05/2026
      </div>
    </div>
    <div
      style="
        width: 263px;
        height: 52px;
        left: 0px;
        top: 240px;
        position: absolute;
        background: white;
        border-radius: 7px;
        overflow: hidden;
        border: 1px #969497 solid;
      "
    >
      <div
        style="
          width: 191px;
          height: 30px;
          left: 10px;
          top: -0px;
          position: absolute;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        Bloody happy spring...
      </div>
      <div
        style="
          width: 168px;
          height: 36px;
          left: 10px;
          top: 9px;
          position: absolute;
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        255000 VNĐ
      </div>
      <div
        style="
          width: 110px;
          height: 14px;
          left: 146px;
          top: 31px;
          position: absolute;
          text-align: right;
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        10/05/2026
      </div>
    </div>
    <div
      style="
        width: 263px;
        height: 52px;
        left: 0px;
        top: 300px;
        position: absolute;
        background: white;
        border-radius: 7px;
        overflow: hidden;
        border: 1px #969497 solid;
      "
    >
      <div
        style="
          width: 191px;
          height: 30px;
          left: 10px;
          top: -0px;
          position: absolute;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        Bloody happy spring...
      </div>
      <div
        style="
          width: 168px;
          height: 36px;
          left: 10px;
          top: 9px;
          position: absolute;
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        255000 VNĐ
      </div>
      <div
        style="
          width: 110px;
          height: 14px;
          left: 146px;
          top: 31px;
          position: absolute;
          text-align: right;
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        10/05/2026
      </div>
    </div>
    <div
      style="
        width: 263px;
        height: 52px;
        left: 0px;
        top: 360px;
        position: absolute;
        background: white;
        border-radius: 7px;
        overflow: hidden;
        border: 1px #969497 solid;
      "
    >
      <div
        style="
          width: 191px;
          height: 30px;
          left: 10px;
          top: -0px;
          position: absolute;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        Bloody happy spring...
      </div>
      <div
        style="
          width: 168px;
          height: 36px;
          left: 10px;
          top: 9px;
          position: absolute;
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        255000 VNĐ
      </div>
      <div
        style="
          width: 110px;
          height: 14px;
          left: 146px;
          top: 31px;
          position: absolute;
          text-align: right;
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        10/05/2026
      </div>
    </div>
    <div
      style="
        width: 263px;
        height: 52px;
        left: 0px;
        top: 420px;
        position: absolute;
        background: white;
        border-radius: 7px;
        overflow: hidden;
        border: 1px #969497 solid;
      "
    >
      <div
        style="
          width: 191px;
          height: 30px;
          left: 10px;
          top: -0px;
          position: absolute;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        Bloody happy spring...
      </div>
      <div
        style="
          width: 168px;
          height: 36px;
          left: 10px;
          top: 9px;
          position: absolute;
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        255000 VNĐ
      </div>
      <div
        style="
          width: 110px;
          height: 14px;
          left: 146px;
          top: 31px;
          position: absolute;
          text-align: right;
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        10/05/2026
      </div>
    </div>
  </div>
  <div
    style="
      width: 263px;
      height: 35px;
      left: 21px;
      top: 43px;
      position: absolute;
      background: white;
      border-radius: 7px;
      overflow: hidden;
      border: 1px black solid;
    "
  >
    <div
      style="
        width: 263px;
        height: 35px;
        padding-left: 7px;
        padding-right: 7px;
        left: 0px;
        top: 0px;
        position: absolute;
        justify-content: flex-start;
        align-items: center;
        gap: 7px;
        display: inline-flex;
      "
    >
      <div
        style="width: 24px; height: 24px; background: rgba(0, 0, 0, 0.75)"
      ></div>
      <div
        style="
          width: 219px;
          height: 32px;
          color: rgba(0, 0, 0, 0.5);
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Find
      </div>
    </div>
  </div>
</div>
