<div
  style="
    width: 890px;
    height: 759px;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    border: 1px #d9d9d9 solid;
  "
>
  <div
    style="
      width: 745px;
      height: 123px;
      left: 71px;
      top: 170px;
      position: absolute;
      border-radius: 7px;
      border: 1px #969497 solid;
    "
  >
    <div
      style="
        left: 7px;
        top: 0px;
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 3px;
        display: inline-flex;
      "
    >
      <div
        style="
          width: 485px;
          height: 24px;
          color: black;
          font-size: 18px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Bloody happy spring day
      </div>
      <div
        style="
          justify-content: center;
          align-items: center;
          gap: 5px;
          display: inline-flex;
        "
      >
        <div style="width: 35px; height: 35px; position: relative">
          <div
            style="
              width: 29.17px;
              height: 29.17px;
              left: 2.92px;
              top: 2.92px;
              position: absolute;
              background: black;
            "
          ></div>
        </div>
        <div
          style="
            width: 386px;
            height: 46px;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 700;
            word-wrap: break-word;
          "
        >
          19h - 21h30 03/02/2025
        </div>
      </div>
      <div
        style="
          height: 44px;
          justify-content: center;
          align-items: center;
          gap: 5px;
          display: inline-flex;
        "
      >
        <div style="width: 36px; height: 36px; position: relative">
          <div
            style="
              width: 21px;
              height: 30px;
              left: 7.5px;
              top: 3px;
              position: absolute;
              background: black;
            "
          ></div>
        </div>
        <div
          style="
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: inline-flex;
          "
        >
          <div
            style="
              align-self: stretch;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              font-weight: 700;
              word-wrap: break-word;
            "
          >
            Nhà hát Độc lập Tự do
          </div>
          <div
            style="
              align-self: stretch;
              color: black;
              font-size: 13px;
              font-family: JetBrains Mono;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            25 Quang Trung, Phường Thống Nhất, Quận Hà Nội, TP HCM
          </div>
        </div>
      </div>
    </div>
    <div
      style="
        width: 119px;
        height: 32px;
        left: 619px;
        top: 8px;
        position: absolute;
        background: #3d3b3c;
        border-radius: 7px;
        overflow: hidden;
      "
    >
      <div
        style="
          width: 119px;
          height: 32px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 15px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Gửi lại vé
      </div>
    </div>
  </div>
  <div
    style="
      width: 890px;
      height: 159px;
      left: 0px;
      top: 0px;
      position: absolute;
      border-radius: 7px;
      overflow: hidden;
    "
  >
    <img
      style="
        width: 1330px;
        height: 412px;
        left: 0px;
        top: 0px;
        position: absolute;
      "
      src="https://via.placeholder.com/1330x412"
    />
  </div>
  <div
    style="
      width: 748px;
      height: 218px;
      left: 71px;
      top: 311px;
      position: absolute;
      border-radius: 7px;
      overflow: hidden;
      border: 1px #969497 solid;
    "
  >
    <div
      style="
        width: 182px;
        height: 31px;
        left: 23px;
        top: 12px;
        position: absolute;
        color: black;
        font-size: 16px;
        font-family: JetBrains Mono;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Thông tin đơn hàng
    </div>
    <div
      style="
        width: 233px;
        height: 33px;
        left: 487px;
        top: 12px;
        position: absolute;
        text-align: right;
        color: black;
        font-size: 13px;
        font-family: JetBrains Mono;
        font-weight: 700;
        word-wrap: break-word;
      "
    >
      Bloody happy spring day
    </div>
    <div
      style="
        width: 697px;
        height: 146px;
        left: 23px;
        top: 59px;
        position: absolute;
      "
    >
      <div
        style="
          width: 56px;
          height: 25px;
          left: 20px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Vé
      </div>
      <div
        style="
          width: 56px;
          height: 25px;
          left: 29px;
          top: 36px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        SVIP-1
      </div>
      <div
        style="
          width: 56px;
          height: 25px;
          left: 29px;
          top: 79px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        SVIP-1
      </div>
      <div
        style="
          width: 110px;
          height: 25px;
          left: 128px;
          top: 36px;
          position: absolute;
          text-align: right;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        250000 VNĐ
      </div>
      <div
        style="
          width: 110px;
          height: 25px;
          left: 128px;
          top: 79px;
          position: absolute;
          text-align: right;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        250000 VNĐ
      </div>
      <div
        style="
          width: 56px;
          height: 25px;
          left: 361px;
          top: 36px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        2
      </div>
      <div
        style="
          width: 56px;
          height: 25px;
          left: 361px;
          top: 79px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        2
      </div>
      <div
        style="
          width: 157px;
          height: 25px;
          left: 517px;
          top: 36px;
          position: absolute;
          text-align: right;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        500000 VNĐ
      </div>
      <div
        style="
          width: 157px;
          height: 25px;
          left: 517px;
          top: 79px;
          position: absolute;
          text-align: right;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        500000 VNĐ
      </div>
      <div
        style="
          width: 157px;
          height: 25px;
          left: 517px;
          top: 121px;
          position: absolute;
          text-align: right;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        1000000 VNĐ
      </div>
      <div
        style="
          width: 87px;
          height: 25px;
          left: 154px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Đơn giá
      </div>
      <div
        style="
          width: 87px;
          height: 25px;
          left: 345px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Số lượng
      </div>
      <div
        style="
          width: 87px;
          height: 25px;
          left: 591px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Thành tiền
      </div>
      <div
        style="
          width: 84px;
          height: 25px;
          left: 348px;
          top: 121px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Tổng
      </div>
      <div
        style="
          width: 697px;
          height: 0px;
          left: 0px;
          top: 27px;
          position: absolute;
          border: 1px black solid;
        "
      ></div>
      <div
        style="
          width: 697px;
          height: 0px;
          left: 0px;
          top: 69px;
          position: absolute;
          border: 1px black solid;
        "
      ></div>
      <div
        style="
          width: 697px;
          height: 0px;
          left: 0px;
          top: 111px;
          position: absolute;
          border: 1px black solid;
        "
      ></div>
    </div>
  </div>
  <div
    style="
      width: 746px;
      height: 158px;
      left: 73px;
      top: 547px;
      position: absolute;
      border-radius: 7px;
      overflow: hidden;
      border: 1px #969497 solid;
    "
  >
    <div
      style="
        width: 496px;
        height: 97px;
        left: 218px;
        top: 34px;
        position: absolute;
      "
    >
      <span
        style="
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
        >Công ty sản xuất sự kiện Cót Lê<br /></span
      ><span
        style="
          color: black;
          font-size: 11px;
          font-family: JetBrains Mono;
          font-weight: 400;
          word-wrap: break-word;
        "
        ><br />Người theo hương hoa mây mù giăng lối Làn sương khói phôi phai
        đưa bước ai xa rồi Đơn côi mình ta vấn vương Hồi ức trong men say chiều
        mưa buồn (Gì nào</span
      >
    </div>
    <div
      style="
        width: 180px;
        height: 108px;
        left: 24px;
        top: 29px;
        position: absolute;
      "
    >
      <img
        style="
          width: 167px;
          height: 219.22px;
          left: 26px;
          top: -14px;
          position: absolute;
        "
        src="https://via.placeholder.com/167x219"
      />
    </div>
  </div>
</div>
