{% load static %}

<div
  style="background: #3d3b3c; padding: 10px 40px; display: flex"
>
  <div style="
    display: flex;
    align-items: center;
    column-gap: 20px;
  ">
    <img
      style="width: 40px; height: 40px; border-radius: 50%; display: block;"
      src="{% static 'images/logo.png' %}"
    />
    <div
      class="searchbar-container"
      style="
        background: white;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-radius: 5px;
      "
    >
      <img
        style="
          width: 22px;
          height: 22px;
          display: block;
          margin-right: 10px;  

        "
        src="{% static 'images/find-icon.svg' %}"
      />

      <input
        type="text"
        id="search-input"
        placeholder="Search events..."
        style="
          height: 34px;
          width: 500px;
          outline: none;
          border: none;
        "
      />
      <script>
        document
          .getElementById("search-input")
          .addEventListener("keyup", (event) => {
            if (event.key === "Enter") {
              // trigger search here
            } else if (event.key === " ") {
              // show search bar when user clicks on search icon
              document.querySelector(".searbar-container").style.cssText = "";
            }
          });
      </script>
    </div>
  </div>

  <div style="
    display: flex;
    align-items: center;
    margin-left: auto;
    column-gap: 40px;
  ">
    <div
      class="home-container"
      style="
        line-height: 40px;
        color: white;
        cursor: pointer;
      "
    >
      Trang chủ
    </div>

    <div
      class="my-ticket-container"
      style="
        line-height: 40px;
        color: white;
        cursor: pointer;
      "
    >
      Vé của tôi
    </div>

    <div
      class="user-info-container"
      style="
        display: flex;
        align-items: center;
      "
    >
      <span style="
        display: block;
        line-height: 40px;
        margin-right: 20px;
        color: white;
        cursor: pointer;
      ">
        Quicky Booster
      </span>
      <img
        style="width: 40px; height: 40px; border-radius: 50%"
        src="{% static 'images/logo.png' %}"
      />
    </div>
  </div>
</div>
