<div
  style="
    max-width: 900px;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    border: 1px #3d3b3c solid;
    padding: 15px 25px;
  "
>
  <div
    style="
      text-align: center;
      color: black;
      font-size: 18px;
      font-family: JetBrains Mono;
      font-weight: 400;
    "
  >
    Thanh toán hóa đơn
  </div>

  <div 
    style="
      padding: 15px 20px; 
      margin-top: 25px; 
      border: 1px #969497 solid; 
      border-radius: 7px;"
  >
    <div style="display: flex; justify-content: space-between;">
      <div style="display: flex; align-items: center; column-gap: 25px;">
        <div
          style="
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
            width: 70px;
            text-align: end;
          "
        >
          Họ và tên
        </div>
  
        <div
          style="
            width: 330px;
            height: 35px;
            background: #d9d9d9;
            border-radius: 7px;
            border: 1px black solid;
          "
        ></div>
      </div>
  
      <div style="display: flex; align-items: center; column-gap: 25px;">
        <div
          style="
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
            width: 70px;
            text-align: end;
          "
        >
          Ngày sinh
        </div>
  
        <div
          style="
            width: 130px;
            height: 35px;
            background: #d9d9d9;
            border-radius: 7px;
            border: 1px black solid;
            font-size: 13px;
            text-align: center;
            line-height: 35px;
          "
        >
          20/03/2024
        </div>
      </div>
    </div>

    <div style="display: flex; justify-content: space-between; margin-top: 25px;">
      <div style="display: flex; align-items: center; column-gap: 25px;">
        <div
          style="
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
            width: 70px;
            text-align: end;
          "
        >
          Số điện thoại
        </div>
  
        <div
          style="
            width: 330px;
            height: 35px;
            background: #d9d9d9;
            border-radius: 7px;
            border: 1px black solid;
          "
        ></div>
      </div>
  
      <div style="display: flex; align-items: center; column-gap: 25px;">
        <div
          style="
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
            width: 70px;
            text-align: end;
          "
        >
          Giới tính
        </div>
  
        <div
          style="
            width: 150px;
            height: 35px;
            background: #d9d9d9;
            border-radius: 7px;
            border: 1px black solid;
            font-size: 13px;
            text-align: center;
            line-height: 35px;
          "
        >
          Nam
        </div>
      </div>
    </div>
  </div>

  <div
    style="
      border-radius: 7px;
      border: 1px #969497 solid;
      margin-top: 40px;
      padding: 15px 20px;
    "
  >
    <div 
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
      "
    >
      <div
        style="
          color: black;
          font-size: 16px;
          font-family: JetBrains Mono;
          font-weight: 400;
        "
      >
        Thông tin đơn hàng
      </div>
      <div
        style="
          color: black;
          font-size: 13px;
          font-family: JetBrains Mono;
          font-weight: 700;
        "
      >
        Bloody happy spring day
      </div>
    </div>

    <div
      style="
        margin-top: 40px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          border-bottom: 2px solid black;
          padding-bottom: 15px;
        "
      >
        <div
          style="
            text-align: start;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
            width: 200px;
          "
        >
          Vé
        </div>
  
        <div
          style="
            text-align: center;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          Đơn giá
        </div>

        <div
          style="
            text-align: center;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          Số lượng
        </div>

        <div
          style="
            text-align: end;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          Thành tiền
        </div>
      </div>

      <div
        style="
          display: flex;
          justify-content: space-between;
          border-bottom: 2px solid black;
          padding-bottom: 15px;
          margin-top: 15px;
        "
      >
        <div
          style="
            text-align: start;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
            width: 200px;
          "
        >
          SVIP-1
        </div>
  
        <div
          style="
            text-align: center;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          250000 VND
        </div>

        <div
          style="
            text-align: center;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          2
        </div>

        <div
          style="
            text-align: end;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          500000 VND
        </div>
      </div>

      <div
        style="
          display: flex;
          justify-content: space-between;
          border-bottom: 2px solid black;
          padding-bottom: 15px;
          margin-top: 15px;
        "
      >
        <div
          style="
            text-align: start;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
            width: 200px;
          "
        >
          SVIP-1
        </div>
  
        <div
          style="
            text-align: center;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          250000 VND
        </div>

        <div
          style="
            text-align: center;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          2
        </div>

        <div
          style="
            text-align: end;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            width: 200px;
            font-weight: 400;
          "
        >
          500000 VND
        </div>
      </div>

      <div 
        style="
          margin-top: 20px;
          display: flex;
          justify-content: flex-end;
        "
      >
        <div
          style="
            text-align: center;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 400;
            width: 200px;
            margin-right: 15px;
          "
        >
          Tổng
        </div>

        <div
          style="
            text-align: end;
            color: black;
            font-size: 13px;
            font-family: JetBrains Mono;
            font-weight: 700;
            width: 200px;
          "
        >
          1000000 VNĐ
        </div>
      </div>
    </div>
  </div>

  <div
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
    "
  >
    <div
      style="
        width: 15px;
        height: 15px;
        background-color: black;
        margin-right: 10px;
      "
    ></div>

    <div
      style="
        color: black;
        font-size: 12px;
        font-family: JetBrains Mono;
        font-weight: 400;
      "
    >
      Tôi đã đọc và đồng ý với các điều khoản của Tickers
    </div>
    
    
  </div>

  <div
    style="
      background: #3d3b3c;
      border-radius: 15px;
      color: white;
      font-size: 16px;
      padding: 15px 30px;
      margin: 20px auto 0;
      width: 100px;
      text-align: center;
    "
  >
    Thanh toán
  </div>
</div>
